
.notification{
    float: right;
    padding: 0px 0px;
    cursor: pointer;
    position: relative;
    right: 225px;
    top: 4px;
}

.notification:hover i{
    color: #6F7E87;
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
}

.notification i{
    color: #9FB6C3;
    font-size: 22px !important;
    line-height: 24px !important;
}

.count1{
    position: absolute;
    top: 8px;
    width: 15px;
    font-size: 10px;
    height: 15px;
    padding-top: 0px;
    left: 10px;
}

.count1 .value {
    position: relative;
    top: -19px;
}
.common-count{
  background: #18B5B5;
    color: #ffffff;
  -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
  border: 1px solid #fff;
}

.count2{
    width: 17px;
    font-size: 10px;
    height: 17px;
    padding-top: 0px;
    left: 5px;
    padding-left: 0px;
    margin-left: 3px;
    margin-top: 0px;
    padding-right: 1px;
    padding-bottom: 1px;
}

.arrow-up {
	width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #1b64a9;
    margin-left: 113px;
}


.notification-dropdown{

}

.dd{
    position: absolute;
    top: -9999px;
}

.dropdown-transition{
    width: 300px;
    position: absolute;
    color: #2336AB;
    right: 230px;
    top: 48px;
	z-index:999;
    -webkit-transform: translateY(18px);
    -moz-transform: translateY(18px);
    -o-transform: translateY(18px);
     transform: translateY(18px);
    /* -webkit-transition: -webkit-transform 0.4s, opacity 0.4s; */
    -moz-transition: -moz-transform 0.4s, opacity 0.4s;
    -ms-transition: -ms-transform 0.4s, opacity 0.4s;
    -o-transition: -o-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}
.fl{
    float: left;
}
.notification-dropdown .header{
    background: #ccc;
    width: 100%;
    height: 44px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #D5DFE4;
    font-size: 14px;
    line-height: 18px;
}

.notification-dropdown .header .container{
    width: 140px;
    margin: 0px auto;
    padding-top: 12px;
}

.notification-dropdown .items{
    background: #E9EFF2;
    width: 100%;
    max-height: 256px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: auto;
}

.notification-dropdown .items .list-item{
    padding: 14px;
    font-size: 13px;
    line-height: 24px;
    border-bottom: 1px solid #D5DFE4;
    height: auto;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    margin: 0px;
	vertical-align: top;
}

.notification-dropdown .items .list-item:hover{
    background: transparent;
}

.new-item{
    background: #DDECF3;
}
.notification-dropdown .items .list-item:last-child{
    border-bottom: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.notification-dropdown .items .list-item .image{
    margin-right: 12px;
}
.notification-dropdown .items .list-item img{
    width: 35px;
    height: auto;
    border-radius: 30px;
}
.notification-dropdown .items .list-item .text{
    color: #fafafa;
   /* width: 76%;*/
    position: relative;
    top: -1px; text-align:left;
}
.notification-dropdown .items .list-item .text b{
    margin-right: 4px;
    color: #fff;
}
