
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

.posrelative {
	position: relative;
}

.lock_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}

.lock_img img {
	width: 100%;
	height: 100%;
}

.navbar-container {
	background: #fff!important;
}

.navbar-dark .navbar-nav .nav-link {
	color: #000;
}

.navbar-dark .navbar-brand {
	color: #000;
}

.navbar-dark .navbar-brand:hover {
	color: #000;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
	color: #02B875;
}

.bg-dark {
	background: #fff!important;
	-webkit-box-shadow: 0 8px 6px -6px #ccc;
	-moz-box-shadow: 0 8px 6px -6px #ccc;
	box-shadow: 0 8px 6px -6px #ccc;
}

.btn-black {
	background: #ff6600!important;
	border: 1px solid #fff;
	border-radius: 0.25rem;
}

.btn-black:hover {
	background: #03d688!important;
	border: 1px solid #fff;
	border-radius: 0.25rem;
}

.home_banner_card {
	background: rgba(255, 255, 255, 0.95);
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.home_banner_card .form-group label {
	color: #02B875!important;
}

.btn-2 {
	background: #27ae60;
	/* nephritis */
	-webkit-transition: background 225ms ease!important;
	-moz-transition: background 225ms ease!important;
	transition: background 225ms ease!important;
}

.header_form_cta {
	text-align: center;
	color: #000!important;
	font-size: 20px;
}

.header_form_cta1 {
	text-align: center;
	color: #000!important;
	font-size: 20px;
}

.btn-2:before,
.btn-2:focus,
.btn-2:hover {
	background: #2ecc71;
	/* emerald */
}

.btn-base {
	font-size: 20px;
	text-transform: uppercase;
	position: relative;
	transition: all 225ms ease;
	border: none;
	border-radius: 2px;
	overflow: hidden;
	color: #fff;
	text-align: center;
	line-height: 102px;
}

.grad_bg {
	background: #15b1d7;
	color: #fff;
	width: 100%;
}

.grad_bg h3,
.grad_bg h6 {
	color: #fff;
}

.grad_bg a {
	color: #000;
}

.grad_bg2 {
	background-image: linear-gradient(#00e29a, #8053f6);
	color: #fff;
	width: 100%;
}

.grad_bg2 h3,
.grad_bg2 h6 {
	color: #fff;
}

.grad_bg2 a {
	color: #000;
}

.grad_bg3 {
	background: #b56dc4;
	color: #fff;
	width: 100%;
}

.grad_bg3 h3,
.grad_bg3 h6 {
	color: #fff;
}

.grad_bg3 a {
	color: #000;
}

.grad_text,
.grad_text:hover {
	Color: #fff;
}

.grad_text2,
.grad_text2:hover {
	background: linear-gradient(to bottom, #ffffff 0%, #8053f6 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

article {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
	padding-top: 50px;
}

article img {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.white_text {
	color: #fff!important;
}

.green_text {
	color: #02B875!important;
}

.purple_text {
	color: #8053f6!important;
}

.black_text {
	color: #000!important;
}

.white_bg {
	background: #fff!important;
}

.green_bg {
	background: #02B875!important;
}

.purple_bg {
	background: #8053f6!important;
}

.card_custom_head {
	background: #fff;
	border: 1px solid #e9ecef;
	border-bottom: 0px!important;
}

.parallax_padding {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}


/**
 *	This element is created inside your target element
 *	It is used so that your own element will not need to be altered
 **/

.time_circles {
	position: relative;
	width: 100%;
	height: 100%;
}


/**
 *	This is all the elements used to house all text used
 * in time circles
 **/

.time_circles>div {
	position: absolute;
	text-align: center;
}


/**
 *	Titles (Days, Hours, etc)
 **/

.time_circles>div>h4 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 9px!important;
}


/**
 *	Time numbers, ie: 12
 **/

.time_circles>div>span {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 200%;
	margin-top: 0.4em;
	font-weight: bold;
	color: #fff;
}

ul.clocksection {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.clocksection li {
	display: inline-block;
	float: left;
}

.countdown_wrap {
	width: 100%;
	padding: 0px;
	box-sizing: border-box;
	background: linear-gradient(to bottom, #00e29a 0%, #8053f6 100%);
}

.clock_wrap h5 {
	color: #fff;
	margin-left: 10px;
	margin-bottom: 0px;
	border-bottom: 1px solid #fff;
	padding-top: 10px;
}

.Score_attempt h5 {
	color: #fff;
	border-bottom: 1px solid #fff;
	padding-top: 10px;
}

.board_wrap {
	background: #fff;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	border-radius: 0.25rem;
	padding: 12px;
	float: left;
	width: 100%;
}

.board_left_col {
	width: 70%;
	float: left;
	padding-top: 5px;
}

.board_right_col {
	width: 30%;
	float: left;
}

.clearboth {
	clear: both;
}

.number_wrap {
	width: 100%;
	padding: 5px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	border-radius: 0.25rem;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

.w100 {
	width: 100%;
}

.total_bdg {
	float: right;
	padding: 5px 10px 5px 10px;
	font-size: 20px;
	color: #fff;
}

.board_left_col h6 {
	font-size: 14px;
}

.step-circle_sidebar {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 50% !important;
	background: #ced4da;
	color: #fff;
	text-align: center;
	font-size: 1rem;
	transition: background-color .35s ease;
	padding: 0 !important;
	border-bottom: none !important;
}

.color-1 {
	background: #8d08b5;
}

.color-2 {
	background: #fa1137;
}

.color-3 {
	background: #ffb300;
}

.color-4 {
	background: #00952c;
}

.color-5 {
	background: #1047c6;
}

.color-6 {
	background: #00b9ff;
}

.bdg_pad {
	padding-top: 10px;
	float: left;
	margin-top: 10px;
}

.pad5 {
	padding-top: 10px;
}

.login_bg {
	background: #15b1d7;
}

.login_bg h1 {
	color: #fff;
}

.login_bg label {
	color: #fff;
}

.span_tw {
	color: #fff;
}

.preserve-3d {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.back {
	width: 100%;
	background-color: #eeeeee;
	border: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	counter-increment: bc;
	padding: 0px 5px 5px 5px;
}

.button_base {
	margin: 0;
	border: 0;
	font-size: 18px;
	position: relative;
	width: 200px;
	height: 50px;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-user-select: none;
	cursor: default;
}

.button_base:hover {
	cursor: pointer;
}


/* ### ### ### 05 */

.b05_3d_roll {
	perspective: 400px;
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
}

.b05_3d_roll div {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 50px;
	padding: 10px 10px;
	border: #fff solid 1px;
	pointer-events: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.b05_3d_roll div:nth-child(1) {
	color: #fff;
	background-color: #fa1137;
	transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transform-origin: 50% 50% -25px;
	-webkit-transform-origin: 50% 50% -20px;
	-moz-transform-origin: 50% 50% -20px;
}

.b05_3d_roll div:nth-child(2) {
	color: #fff;
	background: #02B875;
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transform-origin: 50% 50% -25px;
	-webkit-transform-origin: 50% 50% -20px;
	-moz-transform-origin: 50% 50% -20px;
}

.b05_3d_roll:hover div:nth-child(1) {
	color: #ffffff;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
}

.b05_3d_roll:hover div:nth-child(2) {
	background-color: #fa1137;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transform: rotateX(-90deg);
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
}

.course_form_cta {
	background: #d60034;
	width: 100%;
	text-align: center;
	color: #fff;
	padding: 10px;
	float: left;
	border-radius: 40px;
	font-size: 20px;
	transition: background 500ms linear;
}

.course_form_cta:hover {
	background: #02B875;
	color: #fff;
	transition: background 500ms linear;
}

.level_card_pad {
	padding: 1rem 0.75rem;
}

ul.badgesul {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	margin-top: 10px;
	float: left;
}

ul.badgesul li {
	background: url('../img/badgesprite.png') no-repeat;
	float: left;
	display: inline-block;
	margin-right: 10px;
	width: 64px;
	height: 48px;
}

.badge1 {
	background-position: 0px 0px!important;
}

.badge2 {
	background-position: 0px -48px!important;
}

.badge3 {
	background-position: 0px -96px!important;
}

.badge4 {
	background-position: 0px -288px!important;
}

.badge5 {
	background-position: 0px -336px!important;
}

.badge6 {
	background-position: 0px -384px!important;
}

.badge7 {
	background-position: 0px -432px!important;
}

.badge8 {
	background-position: 0px -480px!important;
}

.badge9 {
	background-position: 0px -528px!important;
}

.badge10 {
	background-position: 0px -576px!important;
}

.badge11 {
	background-position: 0px -624px!important;
}

.badge12 {
	background-position: 0px -672px!important;
}

.pad0 {
	padding: 0px!important;
}

.ts-points {
	font-weight: bold;
	font-size: 30px;
}

.ts-points-flash {
	animation-name: glow;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}

.icon-menu.h4 {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
	display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;	
}

.question-time {
	color: gray;
}

.badge-small {
	font-size: 20px !important;
}

.margin-auto {
	margin-left: auto;
	margin-right: auto;
}

.no-shadow {
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.no-border {
	border-style: none !important;
}

.no-bg {
	background: none;
	background-color: transparent;
}

#features .feature-item .portfolio-wrap {
	overflow: hidden;
	position: relative;
	margin: 0;
  }
  
  #features .feature-item .portfolio-wrap:hover img {
	opacity: 0.4;
	transition: 0.3s;
  }
  
  #features .feature-item .portfolio-wrap .portfolio-info {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -10%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	opacity: 1;
	transition: 0.2s linear;
  }

  #features .feature-item .portfolio-wrap .portfolio-info > div {
	  margin-left: 10% !important;
  }
  
  #features .feature-item .portfolio-wrap .portfolio-info h4 {
	font-size: 22px;
	line-height: 1px;
	font-weight: 700;
	margin-bottom: 14px;
	padding-bottom: 0;
  }
  
  #features .feature-item .portfolio-wrap .portfolio-info h4 a {
	color: #fff;
  }
  
  #features .feature-item .portfolio-wrap .portfolio-info h4 a:hover {
	color: #1bb1dc;
  }
  
  #features .feature-item .portfolio-wrap .portfolio-info p {
	padding: 0;
	margin: 0;
	color: #f8fcff;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
  }
  
  #features .feature-item .portfolio-wrap .portfolio-info .link-preview,
  #features .feature-item .portfolio-wrap .portfolio-info .link-details {
	display: inline-block;
	line-height: 1;
	text-align: center;
	width: 36px;
	height: 36px;
	background: #1bb1dc;
	border-radius: 50%;
	margin: 10px 4px 0 4px;
  }
  
  #features .feature-item .portfolio-wrap .portfolio-info .link-preview i,
  #features .feature-item .portfolio-wrap .portfolio-info .link-details i {
	padding-top: 6px;
	font-size: 22px;
	color: #fff;
  }
  
  #features .feature-item .portfolio-wrap .portfolio-info .link-preview:hover,
  #features .feature-item .portfolio-wrap .portfolio-info .link-details:hover {
	background: #42c3e8;
  }
  
  #features .feature-item .portfolio-wrap .portfolio-info .link-preview:hover i,
  #features .feature-item .portfolio-wrap .portfolio-info .link-details:hover i {
	color: #fff;
  }
  
  #features .feature-item .portfolio-wrap:hover {
  }
  
  #features .feature-item .portfolio-wrap:hover .portfolio-info {
	opacity: 1;
  }  

  #contact .cta-btn {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 26px;
	border-radius: 3px;
	transition: 0.5s;
	margin: 10px;
	border: 0px solid #fff;
	color: #fff;
	background: #2d2b46;
  }
  
  #contact .cta-btn:hover {
	background: #1bb1dc;
	border: 0px solid #1bb1dc;
  }

#videos .owl-nav,
#videos .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#videos .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#videos .owl-dot.active {
  background-color: #1bb1dc;
}


  #videos .owl-prev, #videos .owl-next {
	  position:absolute;
   }

   #videos .owl-prev span, #videos .owl-next span {
	font-size: 80px;
 }

  #videos .owl-prev {
	  left:-5%;
	  top: 30%;
   }

   #videos .owl-next {
	  right:-5%;
	  top:30%;
   }

   #testimonials .owl-prev, #testimonials .owl-next {
	position:absolute;
 }

 #testimonials .owl-prev span, #testimonials .owl-next span {
  font-size: 80px;
}

#testimonials .owl-prev {
	left:-32%;
	top: 30%;
 }

 #testimonials .owl-next {
	right:-32%;
	top:30%;
 }

 #clients .owl-prev, #clients .owl-next {
	position:absolute;
 }

 #clients .owl-prev span, #clients .owl-next span {
  font-size: 80px;
}

#clients .owl-prev {
	left:-5%;
	top: 30%;
 }

 #clients .owl-next {
	right:-5%;
	top:30%;
 }

 #lightbox .lb-dataContainer {
	 padding-top: 18px;
 }

 #lightbox .lb-data .lb-details {
	 width: 100%;
	 text-align: center;
 }

 #lightbox .lb-number {
	 display: none !important;
 }

 #lightbox .lb-nav a.lb-next {
	 height: 110%;
	 opacity: 1;
	 background-position: right 100%;
 }

 #lightbox .lb-nav a.lb-prev {
	height: 110%;
	opacity: 1;
	background-position: left 100%;
}

#lightbox .lb-outerContainer .lb-close {
	display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url('../rapid/lib/lightbox/images/close.png') top right no-repeat;
    text-align: right;
    outline: 0;
    filter: alpha(Opacity=70);
    opacity: .7;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
	transition: opacity .2s;
	cursor: pointer;
}

#lightbox .lb-closeContainer {
	position: absolute;
    top: 0px;
    right: -30px;
 }

 .hide-content {
	display: block;
    min-height: 575px;
    background-size: contain;
    position: relative;
 }

 .hide-content div {
	max-width: 83%;
    max-height: 460px;
    overflow: hidden;
    position: relative;
    left: 47px;
    top: 56px;
 }

 .hide-content div img {
	 width: 180%;
	 max-width: 180%;
 }

 .hide-content div + img {
	position: absolute;
    top: 0px;
    left: 0px;
 }

 .section-bg.yellow {
	 background: #fdcc70;
 }

 .section-bg.blue {
	background: #c5fcff;
 }

 #hero p {
	 color: #333333 !important;
 }

 #hero {
	background: #f5f8fd url("../rapid/img/intro-bg-3.jpg") center top no-repeat;
	background-size: cover;
	min-height: 700px;
 }

 #hero .intro-info h2 {
	 font-size: 60px;
	 line-height: 4rem;
 }

 #header .logo img {
	 max-height: none;
 }

 #footer {
	//background: #f5f8fd url("../rapid/img/intro-footer-1.png") center top no-repeat;
        background: #f5f8fd url("../rapid/img/intro-footer-2.jpg") center -100px no-repeat;
	background-size: cover;
 }

 #footer .footer-top {
	 background: transparent;
 }


@keyframes glow {
    25% {
        text-shadow: 0 0 10px gold;
	}

	50% {
        text-shadow: 0 0 10px red;
	}

	75% {
        text-shadow: 0 0 10px green;
	}

	100% {
        text-shadow: 0 0 10px blue;
	}
}

@media only screen and (max-width: 1199px) {
	.hide-content div {
		max-width: 83%;
		max-height: 390px;
		overflow: hidden;
		position: relative;
		left: 38px;
		top: 46px;
	}
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1023px) {
	.countdown_wrap {
		padding-bottom: 15px;
	}

	.hide-content {
		display: block;
		min-height: 730px;
		background-size: contain;
		position: relative;
	 }

	 .hide-content div {
		max-width: 83%;
		max-height: 600px;
		overflow: hidden;
		position: relative;
		left: 58px;
		top: 64px;
	}
}

@media (max-width: 767px) {
	#navbarNav .col-md-2 .nav-item {
		position: absolute;
		left: 10%;
		top: 20px;
	}

	#hero {
		background: #f5f8fd url("../rapid/img/intro-bg-4.jpg") 75% top no-repeat;
		background-size: cover;
		min-height: auto;
	}

	#hero h2 {
		position: relative;
		top: -50px;
	}

	#hero .description {
		position: relative;
		padding-bottom: 100px;
		top: -50px;
	}

	#hero .btn-get-started {
		position: relative;
		top: 5rem;
	}

	#testimonials .owl-nav {
		display: none;
	 }
         
          #hero .intro-info h2 {
	 font-size: 30px;
	 line-height: 4rem;
          margin-top: 20px;
 }
}

@media (max-width: 550px) {
	#footer {
		background: #f5f8fd url("../rapid/img/intro-bg-2.jpg") right top no-repeat;
		background-size: cover;
	}
        
         #hero .intro-info h2 {
	 font-size: 30px;
	 line-height: 3rem;
         margin-top: 20px;
 }

}



 #footer .footer-top h4 { margin-bottom: 0px !important;}
@media (max-width: 767px) {
    #footer {
        background-image: none !important;
        background-color: #f5f8fd !important;
        
    }
    
     #hero .intro-info h2 {
	 font-size: 30px;
	 line-height: 3rem;
          margin-top: 20px;
 }

}