
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#page {
    text-align:center;
}

#overlay {
    width: 100%;
    position: absolute;
    background: white;
    z-index: 10;
    top: 0px;
    left: 0px;
}

#number {
    font-family: 'Cousine';
    text-align: right;
    width: 120px;
    font-size: 100px;
    color: black;
    z-index: 10;
    top: 0px;
    left: 0px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

#sensitivity {
    font-family: 'Cousine';
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 600px;
    font-size: 30px;
    color: black;
    z-index: 10;
    position: relative;
    transition: opacity 2s;
}

#base {
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, green); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, green); /* Standard syntax (must be last) */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px; 
}