
#page-content {
    width: 100% !important;
}
.content {
    /*max-height: 400px;*/
    height: auto;
    overflow: auto;
}
.RecordCls{
	width: 31%;
    margin: 0px auto 30px;
}
.RecordCls audio {
    display: block;
    width: 100%;
    margin-top: 0.2rem;
    margin: 0px auto;
}
.content p img {
    /*margin: 0px auto;
    display: inline-block;
    margin-left: 20px;*/
	text-align: center;
    padding-right: 20px;

}
.RecordCls ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0px;
}
.h5p-image-hotspot-question .image-wrapper {
    display: block !important;
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0px auto !important;
    width: max-content !important;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: left;
}

.no-overflow p{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: left;
}
h5, .h5 {
    font-size: 18px;
	margin-bottom: .5rem;
    font-weight: 300 !important;
    line-height: 1.2;
    color: #000 !important;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .path-calendar .maincalendar .calendar-controls .current, .h3, .h4, .h5, .h6	{
    margin-bottom: .5rem;
    font-weight: 300 !important;
    line-height: 1.2;
    color: #000 !important;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
b, strong {
    font-weight: bolder;
}
h5 li {
    list-style: disc;
    margin-bottom: 1rem;
}
h5 ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0px 20px;
}
.content img {
     margin: 0px auto;
}
.content audio {
    display: block;
    width: 31%;
    margin: 0rem auto;
}
.p-20{
    padding: 0px 20px 0px 20px !important;
	height: 675px !important;
}
video {
    display: block;
    vertical-align: baseline;
    margin: 0px auto;
}


.atto_image_button_text-bottom{margin-left: 360px}


.inlincss{border-bottom:8px solid #4264BA; border-top:2px solid #000000; border-right:2px solid #000000; border-left:2px solid #000000;}

#IScomp{padding: 10px 30px; font-size: 20px; color:#fff;background: #4164ba}

.inline2{border-bottom:2px solid #000000; border-right:2px solid #000000; border-left:2px solid #000000;}
.inline3{border-bottom:2px solid #000000; border-right:2px solid #000000; border-left:2px solid #000000;padding: 33px}
@media (min-width: 1025px) and (max-width: 1280px) {
  
 #page-content {
    width: 100% !important;
}
.content audio {
    width: 40%;
}
.RecordCls{
	width: 40%;
} 
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    max-height: 400px;
    overflow: auto;
}
  #page-content {
    width: 100% !important;
}
.content audio {
    width: 40%;
}
.RecordCls{
	width: 40%;
}	
}

